<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <script src="{{ nesting }}main.js"></script>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ nesting }}src/img/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="main.css">
  </head>
  <body class="{{ bodyClass }}">
    <header>BeanyBeans</header>
    {% include 'menu.njk' %}
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <!-- Veggie Ring don't touch-->
      <img src="https://caminus.neocities.org/veggiering/widgetanim.gif" usemap="#veggieanim" alt="Veggie Ring">
      <map name="veggieanim">
        <area alt="Previous" title="Previous" href="https://caminus.neocities.org/veggiering/vegring?action=previous" coords="1,13,31,39" shape="rect">
        <area alt="Next" title="Next" href="https://caminus.neocities.org/veggiering/vegring?action=next" coords="121,16,150,37" shape="rect">
        <area alt="The Veggie Ring" title="The Veggie Ring" href="https://caminus.neocities.org/veggiering/vegring" coords="117,44,39,0" shape="rect">
        <area alt="Random" title="Random" href="https://caminus.neocities.org/veggiering/vegring?action=random" coords="137,13,149,2" shape="rect">
      </map>
      <!-- end of veggie ring -->
    </footer>
  </body>
</html>
