<div class="menu">
<ul>
    <li><a href="beanybeans.net/blog">Blog</a></li>
    <div class="menuDropdown"><li>Media Logs</li>
        <div class="menuDropdownContent">
        <ul>
            <li>Movies</li>
            <li>Books</li>
            <li>Games</li>
            <li>Music</li>
        </ul>
        </div>
        </div>
    <li>Projects</li>
    <div class="menuDropdown">
    <li>Offsite</li>
        <div class="menuDropdownContent">
        <ul>
            <li><a href="https://letterboxd.com/olliewalle/">Letterboxd</a></li>
        </ul>
        </div>
    </div        
</ul>
</div>