<div class="menu">
    <a href="/blog">Blog</a>
    <div class="menuDropdown">
        <button class="menuDropdownButton">Media Logs</button>
        <div class="menuDropdownContent">
            <a href="/movies">Movies</a>
            <a href="games">Games</a>
            <a href="/books">Books</a>
        </div>
    </div>
</div>