<div class="menu">
    <a href="beanybeans.net/blog">Blog</a>
    <div class="menuDropdown">
        <button class="menuDropdownButton">Media Logs</button>
        <div class="menuDropdownContent">
            <a href="beanybeans.net/movies">Movies</a>
            <a href="beanybeans.net/games">Games</a>
            <a href="beanybeans.net/books">Books</a>
        </div>
    </div>
</div>