.homeHeading {
    background-color: pink;
    color: white;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
}

.homeParagraph {
    background-color: #3A405A;
    color: white;
}

.homeGrid-container {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "header header"
        "sidebar main"
        "footer footer"
        / 1fr 4fr;
}

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }
.footer {grid-area: footer; }

.sidebar {
    display: grid;
    grid-gap: 10px;
    grid-template:
        "tomonotchi"
        "crossword"
        / 1fr;
}

.crossword { grid-area: crossword; }
.tomonotchi { grid-area: tomonotchi; }